body,
html {
  background-color: #f3eac2; /* Cream color */
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scrolling */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  background-color: #a67c52; /* Darker color */
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
}

.product-image {
  width: 50%;
  height: auto;
}

.product-info {
  width: 50%;
  padding: 20px;
}

@media only screen and (max-width: 375px) {
  .product-card {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    width: 100%;
  }
}
