body,
html {
  overflow: hidden; /* Prevent scrolling */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  border-radius: 10px;
  max-width: 800px;
}

.product-image {
  width: 50%;
  height: auto;
}

.product-info {
  width: 50%;
  padding: 20px;
  align-items: flex-start;
}

@media only screen and (max-width: 375px) {
  .product-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-image,
  .product-info {
    width: 100%;
  }

  .product-info {
    padding: 20px;
  }
}
